body {
  background-image: url("https://images.unsplash.com/photo-1427384906349-30452365b5e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto center;
}





#login-container{
  background-color: #fff;
  align-items: center;

}

.center {
  margin: auto;
  width: 20%;
  border: 2px solid black;
  padding: 10px;
  margin-top: 10em;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  display: none;
}

.sidenav h1 {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
}

.sidenav .my-activities {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
}

.sidenav .my-activities :hover {
  color: #f1f1f1;
}


.sidenav .my-goals {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
}

.sidenav .my-goals :hover {
  color: #f1f1f1;
}


#open-nav-bar {
  display: none;
}

.splash-page{
  display: block;
}

#smile{
  font-size: 125px;
}
