body {
  background-image: url("../images/we_succeed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: auto center; */
}

#login-container{
  background-color: #fff;
  align-items: center;
}

#content-body {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  align-content: center;
}


.center {
  margin: auto;
  width: 20%;
  border: 2px solid black;
  padding: 10px;
  margin-top: 10em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  /* display: none; */
}

.sidenav h2{
  color: #818181;
  width: 30px;
}

.sidenav h1 {
  padding: 25px 8px 8px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn :hover {
  color: #f1f1f1;
}

.sidenav .my-activities {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
}

.sidenav .my-activities :hover {
  color: #f1f1f1;
}


.sidenav .my-goals {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
}

.sidenav .my-goals :hover {
  color: #f1f1f1;
}


#open-nav-bar {
  display: none;
}

.splash-page{
  display: block;
}

#smile{
  font-size: 125px;
}

.card {
  /* border-width: 5px;
  border-color: black;
  border-style: solid; */
  /* background: #CEFED9; */
  text-align: center;
  /* margin: 5px; */
}


.container{
  text-align: center;
}

#hidden-new-activity-form{
  display: none;
  background-color: white;
}
